@model IEnumerable<Recipe>
@{
    ViewData["Title"] = "ViewRecipe";
}
@foreach (var r in Model)
{
    <h5>Id: @r.RecipeId</h5>
    <h1>@r.RecipeName</h1>
    <h4>Time to Prepare: @r.TimeToPrepare</h4>
    <table>
        <tr>
            <td>Ingredients:</td>
            <td>@r.Ingredients</td>
        </tr>
    </table>
    <table>
        <tr>
            <td>Instructions:</td>
            <td>@r.Instructions</td>
        </tr>
    </table>
    <a asp-action="AddReview" asp-route-RecipeId="@r.RecipeId">Review this recipe</a>
    <a asp-action="ReadReview" asp-route-RecipeId="@r.RecipeId">Read Reviews</a>
}
